@model lecolesAI.Models.courses

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>courses</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.course_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.course_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.course_title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.course_title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.url)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.url)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.num_subscribers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.num_subscribers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.num_reviews)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.num_reviews)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.num_lectures)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.num_lectures)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.level)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.level)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.content_duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.content_duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.published_timestamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.published_timestamp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.subject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.subject)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.index">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
